@charset "UTF-8";
body{
	background:url(../img/bcg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
h2{
	margin-top:2%;
	text-align:center;
	font-family:宋体;
	font-size:22px;
}


.content{
	margin-top:5%;
	margin-left:22%;
	width: 900px;
    height: 200px;
    border:none;	
}
p{
	margin-left:2%;
}
tr,th,td{
	height:50px;
	border-bottom:1px solid #dedede;
}
a:link,a:visited{
	color:blue;
}